main {
    width: 100%;
    padding: 0 4%;
    padding-top: 6.25rem;
    margin-bottom: 3.125rem;
}

main > h1 {
    color: var(--primary);
    margin-bottom: 0.625rem;
}

main > hr {
    margin-bottom: 0.625rem;
    height: 0.125rem;
    width: 100%;
    border: none;
    background-color: var(--primary);
}

main > h2 {
    margin-bottom: 0.625rem;
}

main > p {
    margin-bottom: 0.625rem;
}

pre {
    padding: 0.5rem;
    background-color: var(--dark);
    margin-bottom: 0.625rem;
    color: var(--light);
    white-space: pre-wrap;
    hyphens: auto;
}