main {
    width: 100%;
    padding: 0 4%;
    padding-top: 6.25rem;
    margin-bottom: 3.125rem;
}

main > h1 {
    color: var(--primary);
    margin-bottom: 0.625rem;
}

main > hr {
    margin-bottom: 0.625rem;
    height: 0.125rem;
    width: 100%;
    border: none;
    background-color: var(--primary);
}

main > h2 {
    margin-bottom: 0.625rem;
}

main > p {
    margin-bottom: 15px;
}

pre {
    padding: 0.5rem;
    background-color: var(--dark);
    margin-bottom: 0.9375rem;
    color: var(--light);
    white-space: pre-wrap;
    hyphens: auto;
    position: relative;
}

.copy {
    fill: var(--primary);
    position: absolute;
    bottom: 6px;
    cursor: pointer;
    right: 10px;
    width: 20px;
    height: 20px;
}

.copy:hover {
    filter: brightness(1.2);
}

.container-pre {
    position: relative;
    width: 100%;
}

#video {
    width: 100%;
    max-width: 50rem;
    margin-bottom: 10px;
}


.darke {color: rgb(163, 188, 255);}
.yellow {color: rgb(255, 255, 175);}
.gold {color: gold;}
.skyblue {color: #b3e2f7;}
.blue {color: rgb(100, 154, 255);}
.purple {color: rgb(230, 0, 230);}
.brown {color: rgb(255, 176, 139);}
.gray {color: rgb(177, 177, 177);}
.lightgreen {color: rgb(32, 238, 152);}