#add_img {
    position: relative;
    display: flex;
    margin-bottom: 3.125rem;
    justify-content: center;    
    align-items: center;
    overflow: hidden;
    height: 100vh;
    max-height: 700px;
    min-height: 620px;
    flex-direction: column;
    padding-top: 3.4375rem;
    touch-action: none;
}

#add_img h1 {
    color: var(--primary);
    font-size: 38px;
    text-align: center;
}

#add_img p a {
    font-weight: 600;
    color: var(--primary);
    text-decoration: underline;
}

#add_img h2 {
    text-align: left;
    width: 95%;
    min-width: 275px;
    max-width: 450px;
    margin-bottom: 10px;
    color: var(--primary);
}

#add_img > p {
    max-width: 500px;
    width: 95%;
    text-align: center;
    margin: 20px auto;
}

.img_container {
    position: relative;
    min-width: 270px;
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 4px dotted var(--primary);
    height: 190px;
    justify-content: center;
    color: var(--primary);
    cursor: pointer;
}

.img_container > :before {
    background-color: transparent;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color .3s, opacity .3s;
    z-index: -1;
}

.img_container:hover :before {
    background-color: var(--primary);
    opacity: .1;
}

.img_container > input[type='file'] {
    display: none;
}

.img_container svg {fill: var(--primary); margin-bottom: 10px;}

.img_container > svg {width: 62px;}


.bubble {
    background-color: var(--primary);
    opacity: .15;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    animation: bubbles 10s infinite linear;
    box-shadow: 0 0 15px var(--primary);
}

.bubble:nth-child(1) {top: 100px; right: 8%;}

.bubble:nth-child(2) {
    top: -10px;
    left: -50px;
    width: 200px;
    height: 200px;
}

.bubble:nth-child(3) {
    display: none;
    bottom: 50px;
    left: 10%;
    width: 300px;
    height: 300px;
}

@keyframes bubbles {
    0%, 100% {transform: translate3d(20px, 20px, 0px);} 
    25% {transform: translate3d(0px, 40px, 0px);} 
    50% {transform: translate3d(-20px, 20px, 0px);} 
    75% {transform: translate3d(-20px, 20px, 0px);}
}

#img_info {
    width: 95%;
    max-width: 450px;
    color: var(--dark);
    font-size: 13px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#img_actions {
    width: 95%;
    max-width: 450px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#img_actions input[type = 'checkbox'] {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

#box {
    color: var(--primary);
    font-size: 30px;
}

.l_box {
    color: var(--primary);
    touch-action: none;
}

.tr {
    transform: rotateZ(80deg);
}

#img_c {
    position: relative;
    width: 90%;
    max-width: 420px;
    max-height: 420px;
    background-color: var(--black);
    margin-bottom: 10px;
    overflow: hidden;
}

#img_c > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main_image {
    width: 100%;
    height: 100%;
    max-width: 450px;
}

.r_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}

.resize {
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: transparent;
    width: 20%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    box-shadow: 0 0 0 4000px rgba(0 0 0 / 30%);
    border: 1px dotted var(--light);
}

.resize > div {
    position: absolute;
    padding: 4px;
    background-color: var(--light);
    border-radius: 15px;
    border: 1px solid #767676;
}

.r-ne {top: 0; right: 0; transform: translate(50%, -50%); cursor: ne-resize;}
.r-nw {top: 0; left: 0; transform: translate(-50%, -50%); cursor: nw-resize;}
.r-se {bottom: 0; right: 0; transform: translate(50%, 50%); cursor: se-resize;}
.r-sw {bottom: 0; left: 0; transform: translate(-50%, 50%); cursor: sw-resize;}
.r-n {top: 0; transform: translate(0%, -50%); cursor: n-resize;}
.r-s {bottom: 0; transform: translate(0%, 50%); cursor: s-resize;}
.r-e {right: 0; transform: translate(50%, 0%); cursor: e-resize;}
.r-w {left: 0; transform: translate(-50%, 0%); cursor: w-resize;}


.btn {
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px 12px;
    color: var(--light);
}

.outline-btn {
    border-radius: 10px;
    padding: 8px 12px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.i-button {
    color: var(--light);
    padding: 10px 15px;
    border-radius: 12px;
    text-align: center;
    background-color: var(--primary);
    transition: filter .4s;
    font-weight: 600;
}
.i-button:is(:hover, :focus) {
    filter: brightness(1.15);
}

.cont-text {
    position: relative;
    background-color: var(--primary);
}

#base64 {
    position: relative;
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    height: 250px;
    border: none;
    background-color: transparent;
}

.textarea {
    position: relative;
    width: 95%;
    max-width: 450px;
    resize: none;
    min-width: 17.1875rem;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    outline: none;
    height: 250px;
    max-height: 250px;
    margin-bottom: 20px;
}

.textarea::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: .2;
    content: '';
}

#base64:is(:focus, :hover) {
    filter: brightness(1.1);
}

@media (min-width: 800px) {
    .bubble:nth-child(3) {display: flex;}
}