:root {
    --primary: lightgreen;
    --secondary: #e0ff10;
    --green: #68ff10;
    --lightgreen: #10ff30;
    --palmgreen: #10ffa7;
    --lightblue: #10e0ff;
    --light: #FBFBFB;
    --light-d: #EBEDF0;
    --dark: #444444;
    --shadow: rgba(0 0 0 / 20%);

    /* --primary: #ffa710; */
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light);
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: var(--light);
}

::-webkit-scrollbar-thumb {
    border-radius: 1.25rem;
    background-color: var(--primary);
}

::-webkit-scrollbar-corner {
    background-color: black;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 3.4375rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
    justify-content: space-between;
    transition: top .4s, box-shadow .4s;
    z-index: 5;
}

a, button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

*::selection {background-color: var(--primary); color: var(--light);}

li {list-style: none;}

#barras {
    width: 2.1875rem;
    height: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#barras > hr {
    width: 95%;
    height: 0.3125rem;
    background-color: var(--primary);
    border: none;
    outline: none;
    border-radius: 0.25rem;
    transition: opacity .3s, transform .3s;
}

.oc hr:nth-child(1) {transform: translateY(0.7375rem) rotateZ(45deg);}
.oc hr:nth-child(2) {opacity: 0;}
.oc hr:nth-child(3) {transform: translateY(-0.7375rem) rotateZ(-45deg);}

#lista {
    position: fixed;
    top: 3.4375rem;
    background-color: var(--light);
    height: calc(100vh - 3.4375rem);
    min-width: 17.5rem;
    width: 100%;
    max-width: 18.75rem;
    box-shadow: 0 -3.4375rem var(--light);
    z-index: -1;
    left: -20rem;
    transition: left .4s;
    padding: 0 0.9375rem;
    list-style: none;
}

.h-title {
    text-transform: uppercase;
    font-size: 0.7625rem;
    opacity: .44;
    padding-left: 0.625rem;
    margin: 0.625rem 0;
}

#lista li a {
    display: flex;
    padding: 0.625rem 0.9375rem;
    margin: 0.5rem 0;
    color: var(--dark);
    border-radius: 0.625rem;
    transition: background-color .3s, color .3s;
    position: relative;
    overflow: hidden;
}

#lista li a:is(:hover, :focus) {
    color: var(--primary);
}

#lista li a ::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    opacity: 0;
    transition: background-color .3s;
}

#lista li a:is(:hover, :focus) ::before {
    top: 0;
    left: 0;
    background-color: var(--primary);
    opacity: .1;
}

.h-button a {
    background-color: var(--primary);
}

#lista .h-button-outlined a {
    background-color: transparent;
    padding: 0.5313rem 0.9375rem;
    border: 0.125rem solid var(--primary);
}

.h-button-outlined a p {
    text-align: center;
    color: var(--primary);
    width: 100%;
    font-weight: 600;
}

#lista .h-button-outlined a:is(:hover, :focus) {
    background-color: var(--primary);
}

#lista .h-button-outlined a:is(:hover, :focus) p {
    color: var(--light);
}

.h-button a > p {
    text-align: center;
    color: var(--light);
    width: 100%;
    font-weight: 600;
}

#lista .h-button a:is(:hover, :focus) {
    background-color: var(--primary);
    opacity: .8;
}

#logo-container {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--primary);
    font-size: 1.375rem;
    font-weight: 600;
}

#logo {
    fill: var(--primary);
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.375rem;
}

#lista li a:hover svg {fill: var(--primary);}

#lista li a svg {
    fill: var(--dark);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    transition: fill .3s;
    margin-top: -0.1563rem;
}

#shadow {
    width: 100%;
    height: 100vh;
    background-color: rgba(0 0 0 / 65%);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -2;
}

#footer {
    position: relative;
    background-color: var(--dark);
    padding-top: 1.25rem;
    padding-bottom: 1.875rem;
}

.add_us {
    margin: 0 auto;
    min-width: 17.1875rem;
    width: 85%;
    text-align: center;
    padding-bottom: 1.25rem;
    border-bottom: 0.1rem solid var(--light-d);
}

.add_us > h1 {
    font-size: 1.875rem;
    color: var(--light);
    margin-bottom: 1.25rem;
}

.button:is(:hover, :focus) {
    opacity: .9;
}

.button > p {
    border-radius: 0.75rem;
    color: var(--dark);
    padding: 0.5rem 0.625rem;
    background-color: var(--light);
    font-weight: 600;
    text-align: center;
}

.footer_container_lists {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    min-width: 17.1875rem;
    margin: 0 auto;
    margin-top: 1.875rem;
    max-width: 65.625rem;
}

.footer_list {
    color: var(--light);
    width: 100%;
    margin-bottom: 1.5625rem;
}

.footer_list li a {color: var(--light-d);}
.footer_list li a:is(:hover, :focus) {
    color: var(--primary);
    text-decoration: underline;
}

.footer_list li a p {
    padding: 0.25rem 0;
    width: 100%;
}

.footer_list li:first-child {
    padding: 0.625rem 0;
    padding-bottom: 1.25rem;
    font-weight: 600;
    font-size: 1.0625rem;
}

.rights {
    position: absolute;
    bottom: 0.625rem;
    left: 1.25rem;
    font-size: 0.75rem;
    color: var(--light-d);
}

@media (min-aspect-ratio: 7 / 6) {
    #barras {display: none;}
    .h-title {display: none;}
    #lista li a svg {display: none;}

    #lista li a {
        width: auto;
        color: var(--primary);
        margin: 0.5rem 0.25rem;
        padding: 0.5rem 0.625rem;
    }

    #lista {
        position: static;
        display: flex;
        background-color: transparent;
        height: 100%;
        align-items: center;
        width: auto;
        max-width: unset;
        padding: 0;
    }

    .add_us {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .button > p {
        padding: 0.75rem;
        width: 7.5rem;
    }

    .add_us > h1 {
        margin-bottom: 0;
    }

    .footer_list {
        width: 50%;
    }

    @media (min-width: 62.5rem) {
        .add_us {width: 90%;}

        .footer_container_lists {
            width: 98%;
            justify-content: space-between;
        }

        .footer_list {width: 22%;}
    }
}