{% extends "layout.html" %}

{% block title %}Acerca | Pictures change{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', path='css/about.css') }}">
{% endblock %}
{% block content %}
<main class="main">
    <section class="main-title">
        <h1>Sobre nosotros</h1>
        <hr>
        <p>Somos una página dedicada para desarrolladores para automatizar el trabajo de renderizado de imágenes.</p>
    </section>
</main>
<div style="display: flex; justify-content: center;">
    <img id="lean" src="{{ url_for('static', path='img/lean.jpg') }}" alt="">
</div>
{% endblock %}
{% block scripts %}{% endblock %}