{% extends "layout.html" %}

{% block title %}Acerca | Pictures change{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', path='css/about.css') }}">
{% endblock %}
{% block content %}
<main class="main">
    <section class="main-title">
        <h1>Sobre nosotros</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, voluptatibus.</p>
    </section>
</main>
<div style="display: flex; justify-content: center;">
    <img id="lean" src="{{ url_for('static', path='img/lean_canv.jpg') }}" alt="">
</div>
{% endblock %}
{% block scripts %}{% endblock %}