{% extends "layout.html" %}

{% block title %}Code | Pictures change{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', path='css/code.css') }}">
{% endblock %}

{% block content %}
<main>
    <h1>&lt;C&oacute;digo para comenzar /&gt;</h1>
    <hr>
    <h2>Inyectanos en tu proyecto</h2>
    <pre>
&lt;iframe id= src=&quot;http://localhost:8000/converter&quot; width=&quot;500px&quot; height=&quot;500px&quot;&gt;</pre>
    <p>Con este iframe puedes agregar nuestra página de conversión de imágenes a tu proyecto.</p>
    <hr>
    <h2>Uso de nuestra API:</h2>
    <p>Primero que todo creemos una función que nos permita imágenes por medio de blobs:</p>
    <pre>const URL_ = window.URL || window.webkitURL;

const downloadBlob = (blob) => {
    let a = document.createElement("a");
    document.body.appendChild(a);
    a.style = "display: none";
    const url = URL_.createObjectURL(blob);
    a.href = url;
    a.download = 'imagen.jpeg';
    a.click();
    URL_.revokeObjectURL(url);
    document.body.removeChild(a);
}</pre>
    <p>Luego creemos funciones que se encargaran de enviar, en donde currentFile es el archivo de imagen actual proveniente de un input:file. En este caso usamos la API de FormData() para una mayor legibilidad y envio de la imagen.</p>
    <pre>
const sendImg = () => {
    const formdata = new FormData();
    formdata.append('img', currentFile)
    fetch('/img/', {method: 'post', body: formdata})
        .then(res => res.blob())
        .then(downloadBlob)
}</pre>
    <p>Ejemplo de envio de peticion de imagen base64.</p>
    <pre>
const sendBase64 = () => {
    const formdata = new FormData();
    formdata.append('img_base64', textarea.value)
    fetch('/img/base64', {method: 'put', body: formdata})
        .then(res => res.blob())
        .then(downloadBlob)
}</pre>
    <p>Ejemplo con peticion de imagen cuadrada y que retorne base64. En donde 'b64Checkbox' y 'boxCheckbox' son checkbox y accedemos a su valor booleano. Recuerda al especificar el valor 'box' como true no puedes usar los parametros de corte.</p>
    <pre>
const sendImg = () => {
    const formdata = new FormData();
    formdata.append('img', currentFile)
    formdata.append('b64', b64Checkbox.checked)
    formdata.append('box', boxCheckbox.checked)

    fetch('/img/', {method: 'post', body: formdata})
    .then(res => res.json()
        .then(e => console.log(e))
    )
}</pre>
<p>Ejemplo usando el método crop recuerda que algunos valores no deben ser menores que otros. <a href="{{ url_for('doc') }}">Ver documentación.</a></p>
<pre>
const sendImg = () => {
    const formdata = new FormData();
    formdata.append('img', currentFile)
    formdata.append('top', 50)
    formdata.append('left', 50)
    formdata.append('right', 100)
    formdata.append('bottom', 100)

    fetch('/img/', {method: 'post', body: formdata})
    .then(res => res.blob()
        .then(downloadBlob))
}</pre>
</main>
{% endblock %}

{% block scripts %}
{% endblock %}

